/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-Jan-2015, 18:12:06
    Author     : Manika
*/
#googleMap{
    margin-top:20px;//styling for the map
    margin-left:5px;
    width:1330px;
    height:540px;
    border:1px solid;
}
.fontFamily{
    margin-top:20px;
    font-family: 'calibri';
    font-size: 20px;
}
#submit{//styling for the button
     width:120px;
     height:30px;
}